<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="database" connectionString="Data Source=localhost;Initial Catalog=OperationWimWam;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="folder" value="C:\Users\Armen\Desktop\operation wimwam\stockdata"/>
    <!--<add key="APIKey1" value="key:VD1DQSXUXMH0P240,callsPerMinute:5,callsPerDay:500"/>-->
  </appSettings>
</configuration>